html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    height: 100%;
    height: auto;
    min-height: 100%;
    min-width: 320px;
    color: var(--white);
    background-color: var(--blueDark);
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}
a:not([class]) {
    color: var(--white);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



._hide {
    display: none!important;
}
.flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.grid{
    display: grid;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--wrapperPadding);
    max-width: var(--wrapperWidth);
}