html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    height: 100%;
    height: auto;
    min-height: 100%;
    min-width: 320px;
    color: var(--white);
    background-color: var(--blueDark);
}


._hide {
    display: none!important;
}
.grid{
    display: grid;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--wrapperPadding);
    max-width: var(--wrapperWidth);
}